.githooks/**
.husky/**
build
coverage
nginx/**
node_modules
test/**
tmp/**
tsconfig.json
yarn.lock
README.md
.prettierrc.json
public/manifest.json
package.json
tests/dockerized-project.postman_collection.json