python-dotenv==0.19.0
tplink-cloud-api==3.0.0
fastapi==0.68.0
uvicorn==0.15.0

# For creating models and performing data validation
# https://fastapi.tiangolo.com/python-types/#pydantic-models
pydantic==1.8.2

# For OAuth2 with FastAPI
# https://fastapi.tiangolo.com/tutorial/security/first-steps/
# This is a dependency because OAuth2 uses "form data" for sending the username and password
python-multipart==0.0.5
